.sidenav {
  height: 100%;
  background-color: coral;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 20px;
  width: 41%;
  position: fixed;
  top: 0;
  left: 0;
}

.link-rm-dec,
.link-rm-dec-b {
  text-decoration: none;
  color: whitesmoke;
}

.link-rm-dec:hover {
  text-decoration: none;
  color: whitesmoke;
}

.link-rm-dec-b:hover {
  text-decoration: none;
  color: whitesmoke;
}

.votingsystem {
  margin: 10 10 10 10;
}

.posterInfo {
  float: right;
}

.btn-no-dec {
  text-decoration: none;
  color: white;
}

.btn-no-dec:hover {
  text-decoration: none;
  color: white;
}

.login-splash-image {
  width: 27%;
}

.main {
  margin-left: 42%;
  padding: 0px 10px;
}
.login-form {
  margin-top: 80%;
}

.register-form {
  margin-top: 20%;
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.btn-black {
  color: white;
  background-color: black;
}

.border-around {
  border: solid black;
  border-width: thin;
  margin: 12px;
  padding: 10px;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.con {
  min-height: 33rem;
}

#profile_image {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.user_profile_table {
  width: 100%;
}

.user_profile_table td div {
  margin-left: 50px;
}

.btn_comment_modal {
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 18px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #04aa6d;
  color: #ffffff;
}

.com_card {
  display: inline-table;
}

#com_card div a {
  font-weight: 300;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0 !important;
  width: 100% !important; /* Full width */
  height: 100% !important; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index: 9999;
}

.modal-content {
  margin-left: 10%;
  background-color: #fefefe;
  margin-top: 20%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#commentBox {
  background-color: #f1f1f1 !important;
}

.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
  cursor: pointer;
}

.voting-bar {
  min-height: 50px;
}
