<div>
  <h2>Edit Your Answer</h2>
  <div class="card">
    <div class="card-body">
      <h5>Current Answer</h5>
      <p>{{{ currentAnswer.description }}}</p>
    </div>
  </div>
</div>
<br>
<form method="POST" action="{{ url }}" id="edit-ans-form">
    <div class="input-group">
    <div class="input-group-prepend">
      {{!-- <label for="description">Description</label> --}}
      <span class="input-group-text">Answer</span>
    </div>
    <textarea name="description" id="description" class="form-control" aria-label="Answer" required></textarea>
    </div>
    <input hidden name="_method" value="PUT">
    <br>
    <input class="btn btn-primary float-right" type="submit" id="edit_answer_submit">
</form>
 {{#if hasErrors}}
  <ul class="error-list">
    <li>
      {{error}}
    </li>
  </ul>
  {{/if}}