<h2>Create Community</h2><br>
{{#if error}}
<div class="alert-danger mx-auto w-50 p-3">{{message}}</div><br><br>
{{/if}}
{{#if loginError}}
<div>{{message}}</div>
{{else}}
<form  method="post" name="com_form" action="/communities/create/new" onsubmit="return validate_com_form()" class="w-50 mx-auto">
  <div class="form-group">
    <label for="name">Name : </label>
    <input type="text" name="name" class="form-control" id="name" aria-label="emailHelp" placeholder="Enter name" required>
  </div><br>
  <div class="form-group">
    <label for="description">Description : </label>
    <input type="text" name="description" id="description" class="form-control" placeholder="Enter Description" required>
  </div><br>
  <button type="submit" class="btn btn-primary w-100">Create Community</button>
</form>
{{/if}}
