

<article class="edit-user">
    <h1>Update User Profile.</h1>
  <form action="/users/{{User._id}}/" method="POST" enctype="multipart/form-data" class="new-question-form">
       
    <br>
    <label>
       firstName: <br>
      <input type="text" id="firstName" name="firstName"  value="{{User.firstName}}" class="full-width-input"/>
    </label>
   <br>
   <label>
       lastName: <br>
      <input type="text" id="lastName" name="lastName"  value="{{User.lastName}}" class="full-width-input"/>
    </label>
   <br>

    <label>
       Profile Picture: <input type="file" name="profileImage"  class="full-width-input"/>
    </label>
   <br><br>
  
    <label> 
        <button id="bu" class="btn btn-secondary btn-sm"> submit</button>
     
    </label>
   

  
  </form>



{{#if error}}
<p>{{ error }}</p>
{{/if}}
</article>
<script src="/public/js/updateuserprofile.js"></script>








